practicas/p13/serviciovod.dtd

<!ELEMENT CatalogoVOD (cuenta, contenido)>
<!ELEMENT cuenta (perfiles)>
<!ELEMENT contenido (peliculas, programas)>
<!ELEMENT perfiles (perfil+)>
<!ELEMENT perfil EMPTY>
<!ELEMENT peliculas (genero+)>
<!ELEMENT programas (genero+)>
<!ELEMENT genero (titulo+)>
<!ELEMENT titulo (#PCDATA)>
<!ATTLIST cuenta correo CDATA #REQUIRED>
<!ATTLIST perfil
usuario CDATA #REQUIRED
idioma CDATA #REQUIRED
>
<!ATTLIST genero nombre CDATA #REQUIRED>
<!ATTLIST titulo duracion CDATA #REQUIRED>
